body {
	
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #fff;

}

canvas {
    border: 0.1px solid #000;
    display: block;
    margin: 0 auto;
}
#field{
	float: relative;
	margin-top:-0px;
	margin-right:-900px;
	border: none;
}